---
layout: default
---



<div class="home">

<h2>About me</h2>
{% include image.html url="/images/mihir.jpg"  width=180 align="right" %}
<p style='text-align: justify;'> I am an industrial data scientist with <a href="https://www.gore.com/">W. L. Gore & Associates</a> in Munich, Germany. 

A computational physicist by training, my current role revolves around use of statistics, data-driven analytics methods, and machine learning in support of  Gore's materials research and innovation.

<p>
After a Ph.D in Physics from Cornell University, and two stints of academic research at 
	 at <a href="http://www.mrl.ucsb.edu/">U. C. Santa Barbara</a>, and <a href="https://www.uni-mainz.de/">University of Mainz, Germany</a>, I moved to industrial research in my current role at Gore.
	</p>
	<p style='text-align: justify;'> In my academic research, I was broadly focused on structure-property relationships of soft materials, including polymers,
	colloids and nanoparticles. Broader goal was to use theory and computer simulations to advance fundamental understanding as well as assist in data-driven discovery of materials with targeted properties.</p>
<br>
 <h2>Brief Bio</h2>
<hr>
<table>

<tr><td width=36%> Industrial Data Scientist</td><td width=50%>W. L. Gore & Associates, Munich (Germany)</td><td>2019 - Present</td></tr>
<tr><td width=36%> Postdoctoral Researcher</td><td width=50%>University of Mainz, Germany</td><td>2017 - 2019</td></tr>
<tr><td width=36%> Postdoctoral Researcher</td><td>U. C. Santa Barbara, CA</td><td>2015 - 2017</td></tr>
<tr><td> Ph.D. (Physics)</td><td>Cornell University, Ithaca NY</td><td>2009 - 2015</td></tr>
<!-- <tr><td> M.S. (Physics)</td><td>Cornell University, Ithaca NY</td><td>2009 - 2013</td></tr> -->
<tr><td>B.Tech (Engineering Physics)</td><td>Indian Institute of Technology Bombay (India)</td><td>2005 - 2009</td></tr>
</table>

<ul class="tags">
{% for tag in post.tags %}
  <li><a href="/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
{% endfor %}
</ul>
</div>
