---
layout: default
---



<div class="home">

<h2>About me</h2>
{% include image.html url="/images/mihir.jpg"  width=180 align="right" %}
<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit mattis nulla eu cursus. Fusce finibus, orci sit amet tincidunt fermentum, risus ante pharetra nisi, eget tempus tellus tellus ut est. Nunc tempus cursus arcu mattis ultricies. Cras volutpat purus et lectus facilisis tempor. Suspendisse at lorem feugiat, feugiat massa vel, scelerisque dolor. Proin justo nisl, mattis eu sapien in, efficitur fringilla nulla. Phasellus placerat, lacus in venenatis tristique, risus dolor eleifend felis, vitae finibus augue nibh ut libero. Morbi sit amet tincidunt lorem.</p> -->
<p style='text-align: justify;'> I am a postdoctoral researcher, presently working with <a href ="http://www.komet331.physik.uni-mainz.de/nikoubashman.php">Arash Nikoubashman</a> at University of Mainz, Germany. I have previously worked with <a href="http://www.mc-cam.ucsb.edu/fredrickson/">Glenn Fredrickson</a> at
	<a href="http://www.mrl.ucsb.edu/">Materials Research Laboratory</a> in U. C. Santa Barbara. I obtained my Ph.D. at Cornell University, under the supervision of
	<a href="https://www.cheme.cornell.edu/people/profile.cfm?netid=fe13"> Fernando Escobedo</a>.
	</p>
	<p style='text-align: justify;'> I am broadly interested in structure-property relationships of soft materials, including polymers,
	colloids and nanoparticles. I aim to understand these relationships via theory and computer simulations,
	primarily using statistical mechanics.</p>
<br>
 <h2>Brief Bio</h2>
<hr>
<table>
	<tr><td width=36%> Postdoctoral Researcher</td><td width=50%>University of Mainz, Germany</td><td>2017 - Present</td></tr>
<tr><td width=36%> Postdoctoral Researcher</td><td>U. C. Santa Barbara, CA</td><td>2015 - 2017</td></tr>
<tr><td> Ph.D. (Physics)</td><td>Cornell University, Ithaca NY</td><td>2009 - 2015</td></tr>
<!-- <tr><td> M.S. (Physics)</td><td>Cornell University, Ithaca NY</td><td>2009 - 2013</td></tr> -->
<tr><td>B.Tech (Engineering Physics)</td><td>Indian Institute of Technology Bombay (India)</td><td>2005 - 2009</td></tr>
</table>

<ul class="tags">
{% for tag in post.tags %}
  <li><a href="/tags#{{ tag }}" class="tag">{{ tag }}</a></li>
{% endfor %}
</ul>
</div>
